body
{
    margin:0;
    padding:0
}

p
{
    margin:0 0px 0px
}

div#header
{
    background-color:#F3F2ED;
    position: fixed;
    width: 100%;
}
div#container
{
    text-align:left
}

div#footer
{
    position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #f74302;
  height: 25px;
  color: #f74302;
  text-align: center;
}
.container {
  padding: 2px 16px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%; 
}
@media screen and (max-width: 600px) {
  .columnnew{
    width: 100%;
    padding: 0;
  }
}
.columnnew{
  float:left;
  width:20%;
  height: 20%;
  padding-left: 10px;
  padding-right: 1000px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .card1 {
    
    width: 100%;
    padding: 0;
    display: block;
  }
}
.card1{
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
border-radius: 15px;
width: 100%;
height: 70%;
}

.hr{

  width: 50%;
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #ecdfdf;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  -o-transition: background .4s;
  transition: background .4s
}

input.cmn-toggle-round + label:after {
  width: 18px;
  background-color: rgb(231, 12, 12);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  -webkit-transition: margin .4s;
  -moz-transition: margin .4s;
  -o-transition: margin .4s;
  transition: margin .4s
}

@media(min-width: 768px) and (max-width:991px) {
  body {
      overflow-x:hidden
  }

  div.ruby-menu-demo-description {
      position: relative;
      width: 760px;
      height: 160px;
      margin: 0 auto;
      padding: 0
  }

  div.ruby-menu-demo-description img {
      max-width: 200px;
      float: left;
      margin: 50px 20px 0 0
  }

  div.ruby-menu-demo-bg-light,div.ruby-menu-demo-bg-dark {
      width: 760px;
      font-size: 14px
  }

}

@media(max-width: 767px) {
  div.ruby-menu-demo-header {
      width:100%;
      height: auto
  }

  div.ruby-menu-demo-description {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 220px;
      padding: 10px;
      text-align: center
  }

}

*,:before,:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: 'Open Sans',sans-serif
}

div.ruby-wrapper {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background: #f74302;
}

div.ruby-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none
}

div.ruby-wrapper > ul {
  position: relative
}

ul.ruby-menu > li {
  float: left;
  font-size: 14px
}

ul.ruby-menu > li.ruby-menu-right {
  float: right
}

ul.ruby-menu > li > a {
  display: block;
  line-height: 30px;
  padding: 0 10px 0 10px;
  color: #efefef;
  text-decoration: none;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #f74302;
}

ul.ruby-menu > li > a:only-child {
  padding: 0 5px
}

ul.ruby-menu > li > a:hover,ul.ruby-menu > li:hover > a,ul.ruby-menu > li.ruby-active-menu-item > a:hover,ul.ruby-menu > li.ruby-active-menu-item:hover > a {
  background: #f1250a
}

ul.ruby-menu > li > a:only-child:after,ul.ruby-menu > li:hover > a:only-child:after {
  content: ''
}

ul.ruby-menu > li.ruby-active-menu-item > a {
  background: #a42c17
}


ul.ruby-menu > li > a > img {
  max-width: 16px;
  display: block
}

ul.ruby-menu > li.ruby-menu-social > a {
  padding: 0;
  width: 30px;
  padding: 0 8px;
  font-size: 14px
}

ul.ruby-menu > li.ruby-menu-social > a > span {
  display: none
}

ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a,ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social.ruby-menu-search > a {
  transition: all .5s ease;
  max-height: 50px;
  width: 30px;
  transition: all .5s ease;
  transition-delay: .3s
}

ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a > span input::-webkit-input-placeholder {
  color: #efefef
}

ul.ruby-menu.ruby-menu-dividers > li > a,ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social > a {
  border-left: 1px solid #111;
  border-right: 1px solid #666
}


ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li.ruby-active-menu-item > a {
  border-bottom: 1px solid #e62f17
}

ul.ruby-menu > li > ul,ul.ruby-menu > li > ul > li > ul,ul.ruby-menu > li > ul > li > ul > li > ul {
  position: absolute;
  -webkit-box-shadow: 0 8px 24px -5px #ccc;
  -moz-box-shadow: 0 8px 24px -5px #ccc;
  box-shadow: 0 8px 24px -5px #ccc;
  border-top: 4px solid #e62f17
}

ul.ruby-menu > li > ul > li,ul.ruby-menu > li > ul > li > ul > li {
  position: relative
}

ul.ruby-menu > li > ul > li > a,ul.ruby-menu > li > ul > li > ul > li > a,ul.ruby-menu > li > ul > li > ul > li > ul > li > a {
  display: block;
  width: 200px;
  line-height: 33px;
  padding: 0 5px 0 5px;
  background:  #f74302;
  color: rgb(241, 239, 239);
  text-decoration: none;
  font-family: "Verdana";
  font-size: 12px;
  font-weight: bold;
  border-bottom-color:solid 1px #111;
}

ul.ruby-menu > li > ul > li:hover > a,ul.ruby-menu > li > ul > li > a:hover,ul.ruby-menu > li > ul > li > ul > li:hover > a,ul.ruby-menu > li > ul > li > ul > li > a:hover,ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a,ul.ruby-menu > li > ul > li > ul > li > ul > li > a:hover {
  background:#cf2711
}

ul.ruby-menu > li > ul > li > a:only-child:after,ul.ruby-menu > li > ul > li > ul > li > a:only-child:after,ul.ruby-menu > li > ul > li > ul > li > ul > li > a:only-child:after {
  content: ""
}

ul.ruby-menu > li > ul > li > a .fa,ul.ruby-menu > li > ul > li > ul > li > a .fa,ul.ruby-menu > li > ul > li > ul > li > ul > li > a .fa {
  position: relative;
  width: 24px
}


ul.ruby-menu > li > ul > li > ul,ul.ruby-menu > li > ul > li > ul > li > ul {
  left: 200px;
  top: -4px;
  z-index: 100
}

ul.ruby-menu > li > ul > li.ruby-open-to-left > ul,ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left > ul {
  left: auto;
  right: 170px
}

@media(min-width: 768px) {
  
  ul.ruby-menu > li > ul,ul.ruby-menu > li > ul > li > ul,ul.ruby-menu > li > ul > li > ul > li > ul {
      visibility: hidden;
      opacity: 0
  }

  ul.ruby-menu > li:hover > ul,ul.ruby-menu > li > ul > li:hover > ul,ul.ruby-menu > li > ul > li > ul > li:hover > ul {
      visibility: visible;
      opacity: 1
  }
}

p
{
    margin:0px 0px 0px;
}
div#header
{
    background-color:#F3F2ED;
    position: fixed;
    width: 100%;
}
.column {
    float: left;
    width: 33.33%;
    font-size: 11px;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      position:fixed;
     }
    
  }
div#header h1
{
    height:80px;
    /* line-height:80px; */
     margin:0;
     padding-left:10px;
}
div#container
{
    text-align:left
}
div#footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f74302;;
  height: 25px;
  color: #f74302;;
  text-align: center;
}
.navigation 
{
  width: 100%;
  height: 70px;
  display: table;
  position: relative;
  font-family: inherit;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .table {
    width: 100%;
    display: block;
   
  }
} 
.card-header{
  background-color: brown; 
  color: white;
  height: 30px;
  padding-top: 5px;

}
.card
{
  position: relative;
  width: 90%;
  margin-left: 70px;
  margin-top: 40px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
    display: block;
    margin-left: 2px;
    margin-top: 40px;
    
  
  }
}
.card-body{
  text-align: center;
}
 table
{
	width: 100%;
} 

caption
{
	padding: 5px;
	text-align: left;
}

thead tr,
tfoot tr
{
	background: brown; 
  color: white;
  font-size: 14px;
}

th, td
{
	vertical-align: top;
	font-weight: normal;
  font-size: 14px;

} 