<div class="header">
  <div class="row">
    <div class="column">
      <img
        src="/images/logo/logo.png" alt="SB Express cargo llp" style="height: 50px; width: 200px">
    </div>
    <div class="column">
      <P>SB EXPRESS CARGO LLP. <br>Office : VASAI - HEAD OFFICE</P>
    </div>
    <div class="column">
      <P>Login Date Time :<br></P>
    </div>
  </div>
</div>
