<div class="ruby-wrapper">  
  <ul class="ruby-menu">
    <li><a href="#">Admin</a>
      <ul class="">
        <li><a href="#">Office Master</a>
            <ul>
            <li><a href="/admin/companymaster">Company Master</a></li>
            <li><a href="..\..\Admin\Office Master\CountryMaster.php">Country Master</a></li>
            <li><a href="..\..\Admin\Office Master\StateMaster.php">State Master</a></li>
            <li><a href="..\..\Admin\Office Master\CityMaster.php">City Master</a></li>
            <li><a href="..\..\Admin\Office Master\ZoneMaster.php">Zone Master</a></li>
            <li><a href="..\..\Admin\Office Master\OfficeMaster.php">Office Master</a></li>
            <li><a href="..\..\Admin\Office Master\OfficeApproval.php">Office Approval</a></li>
            <li><a href="..\..\Admin\Office Master\OfficeWiseIPRestriction.php">Office Wise IP Restriction</a></li>
            <li><a href="..\..\Admin\Office Master\ComplaintType.php">Complaint Type</a></li>
            </ul>
            <span class="ruby-dropdown-toggle"></span></li>

          <li><a href="#">Pincode Master</a>
      <ul>
            <li><a href="..\..\Admin\Pincode Master\PincodeMaster.php">Pincode Master</a></li>
            <li><a href="..\..\Admin\Pincode Master\PincodeMappingReversePickup.php">Pincode Mapping - Reverse Pickup</a></li>
            <li><a href="..\..\Admin\Pincode Master\PincodeMappingDeliveryBoy.php">Pincode Mapping - Delivery Boy</a></li>
            <li><a href="..\..\Admin\Pincode Master\PincodeODALocation.php">Pincode - ODA Location</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
   
            <li class="ruby-open-to-right"><a href="#">Stock Master</a>
      <ul>
            <li><a href="..\..\Admin\Stock Master\ItemMaster.php">Item Master</a></li>
            <li><a href="..\..\Admin\Stock Master\AWBSeriesMaster.php">AWB Series Master</a></li> 
            <li><a href="..\..\Admin\Stock Master\HSNMaster.php">HSN Master</a></li>  
            <li><a href="..\..\Admin\Stock Master\ProductAndItemMapping.php">Product & Item Mapping</a></li>
      </ul>
      <li class="ruby-open-to-right"><a href="#">Operation Master</a>
      <ul>
            <li><a href="..\..\Admin\Operation Master\ConnectionMAster.php">Connection Master</a></li>
            <li><a href="..\..\Admin\Operation Master\NDRMaster.php">NDR Master</a></li>
            <li><a href="..\..\Admin\Operation Master\DeliveryProofMaster.php">Delivery Proof Master</a></li>
            <li><a href="..\..\Admin\Operation Master\DeliveryRelationMaster.php">Delivery Relation Master</a></li>
            <li><a href="..\..\Admin\Operation Master\ContentMaster.php">Content Master</a></li>
            <li><a href="..\..\Admin\Operation Master\VendorMappingWithRegion.php">Vendor Mapping With Region</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li class="ruby-open-to-right"><a href="#">EDP Master</a>
      <ul>
            <li><a href="..\..\Admin\EDP Master\VolumetricFormula.php">Volumetric Formula</a></li>
            <li><a href="..\..\Admin\EDP Master\ProductMaster.php">Product Master</a></li>
            <li><a href="..\..\Admin\EDP Master\ShipperCategoryMaster.php">Shipper Category Master</a></li>
            <li><a href="..\..\Admin\EDP Master\ShipperMaster.php">Shipper Master</a></li>
            <li><a href="..\..\Admin\EDP Master\ShipperWisePickupLocations.php">Shipper Wise Pickup Locations</a></li>
            <li><a href="..\..\Admin\EDP Master\ConsigneeMaster.php">Consignee Master</a></li>
            <li><a href="..\..\Admin\EDP Master\OfficeWiseShipperMapping.php">Office Wise Shipper Mapping</a></li>
            <li><a href="..\..\Admin\EDP Master\CustomerLoginMaster.php">Customer Login Master</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li class="ruby-open-to-right"><a href="#">User Master</a>
      <ul>
            <li><a href="..\..\Admin\User Master\EmployeeMaster.php">Employee Master</a></li>
            <li><a href="..\..\Admin\User Master\UserMaster.php">User Master</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li class="ruby-open-to-right"><a href="#">Deletion/Approval</a>
      <ul>
            <li><a href="..\..\Admin\Deletion Approval\DeliveryDeletion.php">Delivery Deletion</a></li>
            <li><a href="..\..\Admin\Deletion Approval\RTODeletion.php">RTO Deletion</a></li>
            <li><a href="..\..\Admin\Deletion Approval\NonDeliveryDeletion.php">Non Delivery Deletion</a></li>
            <li><a href="..\..\Admin\Deletion Approval\BookingDeletion.php">Booking Deletion</a></li>
            <li><a href="..\..\Admin\Deletion Approval\AWBWeightChangeApproval.php">AWB Weight Change Approval</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li class="ruby-open-to-right"><a href="#">Route Management</a>
      <ul>
            <li><a href="..\..\Admin\Route Management\ManifestRouteMapping.php">Manifest Route Mapping</a></li>
      </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li class="ruby-open-to-right"><a href="#">Menu</a>
      <ul>
            <li><a href="..\..\Admin\Menu\RoleMaster.php">Role Master</a></li>
            <li><a href="..\..\Admin\Menu\RoleWiseModulePermission.php">Role Wise Module Permission</a></li>
      </ul>
      <span class="ruby-dropdown-toggle"></span></li>
       
      </ul>
      <li><a href="#">Master</a>
            <ul class="">
              <li><a href="..\..\Master\OfficeRequest.php">Office Request</a></li>
              <li><a href="..\..\Master\AirlineMaster.php">Airline Master</a></li>
              <li><a href="..\..\Master\TransportMaster.php">Transport Master</a></li>
              <li><a href="..\..\Master\VendorMaster.php">Vendor Master</a></li>
              <li><a href="..\..\Master\VehicleMaster.php">Vehicle Master</a></li>
              <li><a href="..\..\Master\DeliveryBoyMaster.php">Delivery Boy Master</a></li>
                <span class="ruby-dropdown-toggle"></span></li>
             </ul>
             <li><a href="#">Transaction</a>
                  <ul class="">
                  <li><a href="#">Stock</a>
            <ul>
                  <li><a href="..\..\Transaction\Stock\StockUpdate.php">Stock Update</a></li>
                  <li><a href="..\..\Transaction\Stock\StockOut.php">Stock Out</a></li>
                  <li><a href="..\..\Transaction\Stock\StockIN.php">Stock IN</a></li>
                  <li><a href="..\..\Transaction\Stock\StockPaymentVoucher.php">Stock Payment Voucher</a></li>
                  <li><a href="..\..\Transaction\Stock\StockIssue.php">Stock Issue</a></li>
                  <li><a href="..\..\Transaction\Stock\AWBStockRequest.php">AWB Stock Request</a></li>
                  <li><a href="..\..\Transaction\Stock\StockReturn.php">Stock Return</a></li>
                  <li><a href="..\..\Transaction\Stock\StockTransfer.php">Stock Transfer</a></li>
                  <li><a href="..\..\Transaction\Stock\StockReturnBySeries.php">Stock Return By Series</a></li>
                  <li><a href="..\..\Transaction\Stock\CancelAWB.php">Cancel AWB</a></li>
                  <span class="ruby-dropdown-toggle"></span>
            </ul>
            </li>
                  <li class="ruby-open-to-right"><a href="#">Booking</a>
            <ul>
                  <li><a href="..\..\Transaction\Booking\CashBooking.php">Cash Booking</a></li>
                  <li><a href="..\..\Transaction\Booking\BookingLogistic.php">Booking Logistic</a></li>
                  <li><a href="..\..\Transaction\Booking\EditLogisticBooking.php">Edit-Logistic Booking</a></li>   
                  <li><a href="..\..\Transaction\Booking\EditCashBooking.php">Edit - Cash Booking</a></li>
                  <li><a href="..\..\Transaction\Booking\CustomerDataImport.php">Customer Data - Import</a></li>
                  <li><a href="..\..\Transaction\Booking\AWBPrinting.php">AWB Printing</a></li>   
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Menifest</a>
        <ul>
                <li><a href="..\..\Transaction\Menifest\Menifest.php">Menifest</a></li>
                <li><a href="..\..\Transaction\Menifest\CancleMenifest.php">Cancel Menifest</a></li>
        </ul>      
                <span class="ruby-dropdown-toggle"></span></li> 
                <li class="ruby-open-to-right"><a href="#">Co-Loading</a>
        <ul>
                <li><a href="..\..\Transaction\Co-loading\CNOutGateway.php">CN-Out Gateway</a></li>
                <li><a href="..\..\Transaction\Co-loading\BagOffload.php">Bag Offload</a></li>
                <li><a href="..\..\Transaction\Co-loading\CNRecevingGateway.php">CN Receving Gateway</a></li>   
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">DRS</a>
        <ul>
                <li><a href="..\..\Transaction\DRS\AWBInscan.php">AWB Inscan</a></li>
                <li><a href="..\..\Transaction\DRS\DRSEntryNew.php">DRS Entry-New</a></li>
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Update DRS</a>
        <ul>
                <li><a href="..\..\Transaction\Update DRS\UpdateDRSDRSNoWise.php">Update DRS-DRS No.Wise</a></li>
                <li><a href="..\..\Transaction\Update DRS\UpdateDRSAWBNOWise.php">Update DRS-AWB NO.Wise</a></li>
                <li><a href="..\..\Transaction\Update DRS\RTCMenifestWiseDelivery.php">RTC Menifest Wise Delivery</a></li>  
                <li><a href="..\..\Transaction\Update DRS\RTCMenifestWiseDeliveryImageUpdation.php">RTC Menifest Wise Delivery Image Updation</a></li>  
                <li><a href="..\..\Transaction\Update DRS\ImportDeliveryData.php">Import Delivery Data</a></li> 
                <li><a href="..\..\Transaction\Update DRS\DeliverySubmission.php">Delivery Submission</a></li> 
                <li><a href="..\..\Transaction\Update DRS\UploadPODImage.php">Upload POD Image</a></li> 
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Non-Delivery</a>
        <ul>
                <li><a href="..\..\Transaction\NonDelivery\NonDelivery.php">Non-Delivery</a></li>
                <li><a href="..\..\Transaction\NonDelivery\RTORequest.php">RTO Request</a></li>
                <li><a href="..\..\Transaction\NonDelivery\RTORequestApproval.php">RTO Request Approval </a></li>  
                <li><a href="..\..\Transaction\NonDelivery\RTCManifesting.php">RTC Manifesting </a></li>  
                <li><a href="..\..\Transaction\NonDelivery\RTCManifestWiseNDR.php">RTC Manifest Wise NDR</a></li>  
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Reverse Pickup</a>
        <ul>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestImport.php">Pickup Request-Import</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestManual.php">Pickup Request-Manual</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestDeletion.php">Pickup Request-Deletion</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequest(PRS).php">Pickup Request(PRS) </a></li>  
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestUpdationTicketWise.php">Pickup Request Updation Ticket Wise</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestUpdationPRSWise.php">Pickup Request Updation PRS Wise</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\PickupRequestTicketQuery.php">Pickup Request Ticket Query </a></li> 
                <li><a href="..\..\Transaction\Reverse Pickup\LoanAccountMapping.php">Loan Account Mapping</a></li>
                <li><a href="..\..\Transaction\Reverse Pickup\ChangeAWB.php">Change AWB</a></li>  
        </ul>     
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Deletion/Approval Request</a>
        <ul>
                <li><a href="..\..\Transaction\DeletionApprovalrequest\DeliveryDeletionRequest.php">Delivery Deletion Request</a></li>
                <li><a href="..\..\Transaction\DeletionApprovalrequest\RTODeletionRequest.php">RTO Deletion Request</a></li>
                <li><a href="..\..\Transaction\DeletionApprovalrequest\NonDekiveryDeletionRequest.php">Non-Dekivery Deletion Request</a></li>
                <li><a href="..\..\Transaction\DeletionApprovalrequest\AWBWeightChangeRequest.php">AWB Weight Change Request</a></li>  
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">COD/CASH/CHEQUE</a>
        <ul>
                <li><a href="..\..\Transaction\CODCASHCHEQUE\CODCollection.php">COD Collection</a></li>
                <li><a href="..\..\Transaction\CODCASHCHEQUE\CODCancel.php">COD Cancel</a></li>
                <li><a href="..\..\Transaction\CODCASHCHEQUE\CODDeposit.php">COD Deposit</a></li>  
                <li><a href="..\..\Transaction\CODCASHCHEQUE\CODAdviceUpdation.php">COD Advice - Updation </a></li>  
                <li><a href="..\..\Transaction\CODCASHCHEQUE\CODTransfer.php">COD Transfer</a></li>  
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Loss Recover</a>
        <ul>
                <li><a href="..\..\Transaction\CODCASHCHEQUE\LossAWB.php">Loss AWB</a></li>
                <li><a href="..\..\Transaction\CODCASHCHEQUE\RecoverAWB.php">Recover AWB</a></li>
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">KYC</a>
        <ul>
                <li><a href="..\..\Transaction\KYC\KYCImport.php">KYC-Import</a></li> 
                <li><a href="..\..\Transaction\KYC\KYCManifest.php">KYC-Manifest</a></li>
                <li><a href="..\..\Transaction\KYC\KYCOfficeVarification.php">KYC-Office Varification</a></li>
                <li><a href="..\..\Transaction\KYC\KYCResidenceVarification.php">KYC-Residence Varification</a></li>
                <li><a href="..\..\Transaction\KYC\EditOfficeVarification.php">Edit-Office Varification</a></li>
                <li><a href="..\..\Transaction\KYC\EditResidenceVerification.php">Edit - Residence Verification</a></li>
                <li><a href="..\..\Transaction\KYC\KYCReportPrintKYC.php">KYC Report/Print KYC</a></li>
        </ul>
                <span class="ruby-dropdown-toggle"></span></li>
                <li class="ruby-open-to-right"><a href="#">Operatioin-Other Network</a>
        <ul>
                <li><a href="..\..\Transaction\Operation Other Network\DispatchMenifest.php">Dispatch Menifest</a></li> 
                <li><a href="..\..\Transaction\Operation Other Network\3PLForwarding.php">3PL Forwarding</a></li> 
        </ul>
        </ul>
        <li><a href="#">Report</a>
            <ul class="">
      <li>
            <a href="..\..\Report\EmployeeAttendanceReport.php">Employee Attendance Report</a>
            <span class="ruby-dropdown-toggle"></span></li>
      <li>
            <a href="#">Stock Inventory Report</a>
      <ul>
              <li><a href="..\..\Report\Stock Inventory Report\StockINHANDReport.php">Stock IN HAND Report</a></li>
              <li><a href="..\..\Report\Stock Inventory Report\StockPaymentVoucherReport.php">Stock Payment Voucher Report</a></li>
              <li><a href="..\..\Report\Stock Inventory Report\StockIssueReport.php">Stock Issue Report</a></li>
              <li><a href="..\..\Report\Stock Inventory Report\StockReturnReport.php">Stock Return Report</a></li>
              <li><a href="..\..\Report\Stock Inventory Report\StockTransferReport.php">Stock Transfer Report</a></li> 
              <li><a href="..\..\Report\Stock Inventory Report\UnUsedReport.php">Un Used Report</a></li>
              <span class="ruby-dropdown-toggle"></span>
      </ul>
      </li>
              <li class="ruby-open-to-right"><a href="#">Booking Report</a>
      <ul>
              <li><a href="..\..\Report\Booking Report\CustomerPerformanceAnalysis.php">Customer Performance Analysis </a></li>
              <li><a href="..\..\Report\Booking Report\MISReport.php">MIS Report</a></li>
              <li><a href="..\..\Report\Booking Report\BookingRegister.php">Booking Register </a></li>
              <li><a href="..\..\Report\Booking Report\BookingStatusReport.php">Booking Status Report</a></li>
              <li><a href="..\..\Report\Booking Report\CustomerVolumetricReport.php">Customer Volumetric Report</a></li>
              <li><a href="..\..\Report\Booking Report\CustomerVolumetricReportWithoutLBH.php">Customer Volumetric Report - Without LBH</a></li>
              <li><a href="..\..\Report\Booking Report\PendingStatusReport.php">Pending Status Report </a></li>
              <li><a href="..\..\Report\Booking Report\CustomerStatusReport.php">Customer Status Report</a></li>
              <li><a href="..\..\Report\Booking Report\Booking(Pickup)&StatusReport.php">Booking (Pickup) & Status Report </a></li>
              <li><a href="..\..\Report\Booking Report\OfficeAndShipperWiseBooking.php">Office And Shipper Wise Booking/EDP Detail Report</a></li>
              <li><a href="..\..\Report\Booking Report\BookingDeletionReport.php">Booking Deletion Report</a></li>
              <li><a href="..\..\Report\Booking Report\AWBLifeCycle.php">AWB Life Cycle</a></li>
        </ul>
              <li class="ruby-open-to-right"><a href="#">Dispatch Report</a>
        <ul>
              <li><a href="..\..\Report\Dispatch Report\ManifestRegister(Summary).php">Manifest Register (Summary)</a></li>
              <li><a href="..\..\Report\Dispatch Report\ManifestRegister(Detail).php">Manifest Register (Detail)</a></li>
              <li><a href="..\..\Report\Dispatch Report\UnattemptShipmentsDetails.php">Unattempt Shipments Details</a></li>
              <li><a href="..\..\Report\Dispatch Report\ManifestVSBagNotReceived.php">Manifest VS Bag Not Received</a></li>
              <li><a href="..\..\Report\Dispatch Report\MisRouteBagDispatchReport.php">MisRoute Bag Dispatch Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li>
              <li class="ruby-open-to-right"><a href="..\..\Report\DRSRegister.php">DRS Register</a>      
              <span class="ruby-dropdown-toggle"></span></li>
              <li class="ruby-open-to-right"><a href="#">Delivery</a>
        <ul>
              <li><a href="..\..\Report\Delivery\DeliveryRegister.php">Delivery Register</a></li>
              <li><a href="..\..\Report\Delivery\ShipperWiseDeliveryReport.php">Shipper Wise Delivery Report</a></li>
              <li><a href="..\..\Report\Delivery\OriginAndDestinationCityWiseDeliveryTATReport.php">Origin And Destination City Wise Delivery TAT Report</a></li>
              <li><a href="..\..\Report\Delivery\ShipperWiseDeliveryTATReport.php">Shipper Wise Delivery TAT Report</a></li>
              <li><a href="..\..\Report\Delivery\DeliveryQualityReport.php">Delivery Quality Report</a></li>
              <li><a href="..\..\Report\Delivery\DeliveryDateVsEntryDate.php">Delivery Date Vs Entry Date</a></li>
              <li><a href="..\..\Report\Delivery\DRSStatusReport.php">DRS Status Report</a></li>
              <li><a href="..\..\Report\Delivery\DeliveryDeletionReport.php">Delivery Deletion Report</a></li>
              <li><a href="..\..\Report\Delivery\FRDeliveryReport.php">FR Delivery Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li>
              <li class="ruby-open-to-right"><a href="#">Non-Delivery</a>
        <ul>
              <li><a href="..\..\Report\Non-Delivery\LossRecoveryReport.php">Loss Recovery Report</a></li>
              <li><a href="..\..\Report\Non-Delivery\NonDeliveryRegister.php">Non Delivery Register</a></li>
              <li><a href="..\..\Report\Non-Delivery\RTORegister.php">RTO Register</a></li>
              <li><a href="..\..\Report\Non-Delivery\RTODeletionReport.php">RTO Deletion Report</a></li>
              <li><a href="..\..\Report\Non-Delivery\RTCRegister.php">RTC Register</a></li>
              <li><a href="..\..\Report\Non-Delivery\RTORequestRegister.php">RTO Request Register</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li> 
              <li class="ruby-open-to-right"><a href="#">Co-Loading Reports</a>
        <ul>
              <li><a href="..\..\Report\Co-Loading Report\BagDispatchRegister.php">Bag Dispatch Register</a></li>
              <li><a href="..\..\Report\Co-Loading Report\BagReceivingRegister.php">Bag Receiving Register</a></li>
              <li><a href="..\..\Report\Co-Loading Report\CoLoaderWiseLoadMovementReport.php">CoLoader Wise Load Movement Report</a></li>
              <li><a href="..\..\Report\Co-Loading Report\LoadMismatchReport.php">Load Mismatch Report</a></li>
              <li><a href="..\..\Report\Co-Loading Report\AWBInScanReport.php">AWB InScan Report</a></li>
              <li><a href="..\..\Report\Co-Loading Report\ShortAWBReport.php">Short AWB Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li> 
              <li class="ruby-open-to-right"><a href="#">Data Entry Reports</a>
        <ul>
            <li><a href="..\..\Report\Data Entery Report\OfficeAndUserWiseDataEntryReport.php">Office And User Wise Data Entry Report</a></li>
              <li><a href="..\..\Report\Data Entery Report\DataEntryReport(Hourly).php">Data Entry Report (Hourly)</a></li>
              <li><a href="..\..\Report\Data Entery Report\APIDataEntryReport.php">API Data Entry Report</a></li>
              <li><a href="..\..\Report\Data Entery Report\MobileAPPDataEntryReport.php">Mobile APP Data Entry Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li>    
              <li class="ruby-open-to-right"><a href="#">Vehical GP Report</a>
        <ul>
              <li><a href="..\..\Report\Data Entery Report\BagDeviationReport.php">Bag Deviation Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li>    
              <li class="ruby-open-to-right"><a href="#">Reverse Pickup Report</a>
        <ul>
              <li><a href="..\..\Report\Reverse Pickup Report\ReversePickupReport.php">Reverse Pickup Report</a></li>
              <li><a href="..\..\Report\Reverse Pickup Report\ReversePickupRegister.php">Reverse Pickup Register</a></li>
              <li><a href="..\..\Report\Reverse Pickup Report\ReverseMenifesting(PRS)Report.php">Reverse Menifesting(PRS)- Report</a></li>
        </ul>
              <span class="ruby-dropdown-toggle"></span></li> 
        </ul>
    
                  <li><a href="#">Tracking</a>
                  <ul class="">                      
                  <li><a href="..\..\Tracking\AWBTracking.php">AWB Tracking</a>  </li>
                  <li><a href="..\..\Tracking\MultipleAWBTracking.php">Multiple AWB Tracking</a>  </li>
                  <li><a href="..\..\Tracking\ManifestTracking.php">Manifest Tracking</a>  </li>
                  <li><a href="..\..\Tracking\ReferenceTracking.php">Reference Tracking</a>  </li>
                  <li><a href="..\..\Tracking\BAGTracking.php">BAG Tracking</a>  </li>
                  <li><a href="..\..\Tracking\CNTrackingWithAWB.php">CN Tracking With AWB</a>  </li>
                  <li><a href="..\..\Tracking\CNTracking.php">CN Tracking</a>  </li>
                  <li><a href="..\..\Tracking\PincodeTracking.php">Pincode Tracking</a>  </li>
                  <li><a href="..\..\Tracking\BranchTracking.php">Branch Tracking</a>  </li>
                  <li><a href="..\..\Tracking\OfficeAndUserWiseAwbTrackingHistory.php">Office And User Wise Awb Tracking History</a>  </li>
                  <li><a href="..\..\Tracking\StockTracking.php">Stock Tracking</a>  </li>
                  <li><a href="..\..\Tracking\DeliverySubmissionTracking.php">Delivery Submission Tracking</a>  </li>
                  <li><a href="..\..\Tracking\LoanApplicationTracking.php">Loan Application Tracking</a>  </li>
                  <li><a href="..\..\Tracking\DRSTracking.php">DRS Tracking</a>  </li>
        </ul>
                  <span class="ruby-dropdown-toggle"></span>
    </li>
      
                  
                    <li><a href="#">Dashboard</a>
                    <ul class="">
                    <li><a href="..\..\Dashboard\operationdashboard.php">Operation-Dashboard</a></li>
                    <li><a href="..\..\Dashboard\ReversePickupDashboard.php">Reverse Pickup-Dashboard</a></li>
                    <li><a href="..\..\Dashboard\BoyRouteDashboard.php">Boy Route - Dashboard</a></li>
                    <span class="ruby-dropdown-toggle"></span> 
                  </ul>
                </li>
                <li style="float: right; text-decoration:underline; color: white; padding: 0 10px 0 10px;"><a href="">Log Out</a>
            <li style="float: right; text-decoration:underline; color: white; padding: 0 10px 0 10px;"><a href="..\..\home.php">Home</a>
          </div>
           </li>  
        </div> 